h1 {
    color: pink; 
    text-decoration: underline; 
   }
   
   p {
     font-size: 18px;
     width: 400px;
     text-indent: 50px;
     text-align: justify;
   }
   span {
    color: green; 
   }
   .red-box {
    background-color: red;
  }
  
  .blue-box {
    background-color: blue;
  }
  .yellow-box {
    background-color: yellow;
  }

  .red-group {
    background-color: #00D1AE;
    width: 200px;
    height: 200px;
  }
