h1 {
    color: pink; 
    text-decoration: underline; 
   }
   
   p {
     font-size: 18px;
     width: 400px;
     text-indent: 50px;
     text-align: justify;
   }
   span {
    color: rgb(12, 239, 12); 
   }
   .red-box {
    background-color: red;
  }
  
  .blue-box {
    background-color: blue;
  }
  .yellow-box {
    background-color: yellow;
  }


  body {
    background-color: #00D1AE;
  }
  .menu {
    width: 400px;
    height: 50px;
    background-color: rgb(228, 100, 100);
  }
  .content {
    width: 400px;
    height: 200px;
    background-color: rgb(93, 239, 93);
  }

  .text-blue {
    color: rgb(164, 164, 238);
  }

  .featured{
    font-weight: hold;
  }
  #menu-arriba {
    background-color: brown;
  }

  *{
    color: green;
  }
  #cover-box {
    color: navy;
  }